body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

body,
html {
  background: #191919;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.main {
  display: flex; }

.sidebar {
  width: 24.9999vw;
  height: 99.9999vh; }

.main_panel {
  width: 74.9999vw;
  height: 99.9999vh; }

.sidebar > div {
  margin: 10px;
  width: 96%;
  height: 97%;
  background: #000000;
  border-radius: 10px 10px 10px 10px; }

.main_panel > div {
  margin: 10px;
  width: 98%;
  height: 97%;
  background: #191919;
  border-radius: 10px 10px 10px 10px; }

.sidebar_canvas > div {
  margin: 2px;
  height: 20%;
  width: 99%;
  background: #000000;
  border-radius: 5px 5px 5px 5px; }

.sidebar_first > div {
  background: #000000;
  margin: 2px 0px 2px 0px;
  padding: 1px;
  height: 45%;
  width: 98%;
  border-radius: 5px 5px 5px 5px;
  border-bottom: 0.2px solid #3c40c6;
  border-top: 0.2px solid #3c40c6; }

.sidebar_second > input {
  background: #000000;
  color: #4cdbba;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  margin: 3px 1px 3px 1px;
  padding: 2px;
  height: 45%;
  width: 98%;
  border-radius: 5px 5px 5px 5px;
  border: 0px; }

.sidebar_third > input {
  background: #000000;
  color: #4cdbba;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  margin: 3px 1px 3px 1px;
  padding: 2px;
  height: 45%;
  width: 98%;
  border-radius: 5px 5px 5px 5px;
  border: 0px; }

.sidebar_fourth > input {
  background: #000000;
  color: #4cdbba;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  margin: 3px 1px 3px 1px;
  padding: 2px;
  height: 45%;
  width: 98%;
  border-radius: 5px 5px 5px 5px;
  border: 0px; }

.main-nav {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  list-style: none;
  margin: 0; }

.second-nav {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  list-style: none;
  margin: 0; }

li {
  padding: 17px;
  text-align: center;
  vertical-align: center;
  cursor: pointer; }

a {
  color: #000000;
  text-decoration: none; }

.webview {
  width: 100%;
  height: 100%; }

webview {
  width: 100%;
  height: 100%;
  filter: grayscale(100%); }

webview:hover {
  filter: grayscale(0%); }

.navigation__video:hover ~ webview {
  filter: grayscale(0%) drop-shadow(1.5rem 1.5rem 2rem rgba(9, 136, 4, 0.712)) hue-rotate(40deg); }

.navigation__audio:hover ~ .page {
  filter: grayscale(0%); }

i {
  color: #4cdbba;
  font-size: 1.33em;
  text-align: center; }

.second-nav_content > i:hover {
  color: #ff0000;
  font-size: 2.2rem;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: 0.5s; }

.header {
  display: flex;
  flex-wrap: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
  z-index: 80; }

.nav__sort {
  margin: 0.2rem;
  padding: 0.2rem;
  align-self: center;
  flex-basis: 8%; }
  .nav__sort:hover {
    cursor: pointer; }

.nav__search {
  margin: 0.1rem;
  padding: 0.1rem;
  align-self: center;
  flex-basis: 35%; }
  .nav__search--form {
    width: 100%; }

.searchbar {
  margin: 0 auto;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  font-size: 2rem;
  border: 0.1rem solid #d0cfce;
  border-radius: 2rem;
  outline: none; }
  .searchbar:focus {
    border: 0.2rem solid #008abf;
    transition: 0.35s ease;
    color: #008abf; }
    .searchbar:focus::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0; }
    .searchbar:focus::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0; }
    .searchbar:focus:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0; }

@media (max-width: 800px) {
  .nav__search {
    margin: 0.1rem;
    padding: 0.1rem;
    align-self: center;
    flex-basis: 50%; }
    .nav__search--form {
      width: 100%; }
  .searchbar {
    margin: 0 auto;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    font-size: 2rem;
    border: 0.1rem solid #d0cfce;
    border-radius: 1rem;
    outline: none; }
    .searchbar:focus {
      border: 0.2rem solid #008abf;
      transition: 0.35s ease;
      color: #008abf; }
      .searchbar:focus::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0; }
      .searchbar:focus::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0; }
      .searchbar:focus:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0; } }

@media (max-width: 600px) {
  .nav__search {
    margin: 0.1rem;
    padding: 0.1rem;
    align-self: center;
    flex-basis: 65%; }
    .nav__search--form {
      width: 100%; }
  .searchbar {
    margin: 0 auto;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    font-size: 2rem;
    border: 0.1rem solid #d0cfce;
    border-radius: 1rem;
    outline: none; }
    .searchbar:focus {
      border: 0.2rem solid #008abf;
      transition: 0.35s ease;
      color: #008abf; }
      .searchbar:focus::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0; }
      .searchbar:focus::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0; }
      .searchbar:focus:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0; } }

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden; }
  .dropdown__btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */ }
  .dropdown__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .dropdown:active .dropdown__content {
    display: block; }
  .dropdown:hover .dropdown__content {
    display: block; }
  .dropdown__content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  .dropdown__content a:hover {
    background-color: #ddd;
    cursor: pointer; }

/* The droptype container */
.droptype {
  float: left;
  overflow: hidden; }
  .droptype__btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */ }
  .droptype__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .droptype:active .droptype__content {
    display: block; }
  .droptype:hover .droptype__content {
    display: block; }
  .droptype__content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  .droptype__btn:hover {
    cursor: pointer; }
  .droptype__content a:hover {
    background-color: #ddd;
    cursor: pointer; }

.navigation {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px; }
  .navigation__video {
    text-align: center;
    overflow: hidden;
    position: fixed;
    z-index: 400;
    border-radius: 50%;
    background-image: radial-gradient(circle 919px at -3.2% 49.7%, rgba(58, 158, 4, 0.96) 0.1%, #0496bb 99.4%);
    height: 7rem;
    width: 7rem;
    position: fixed;
    bottom: 10rem;
    right: 6rem; }
    .navigation__video--label i {
      display: inline-block;
      color: white;
      margin: 1.5rem;
      padding: 1rem;
      text-align: center;
      font-weight: bolder; }
    .navigation__video:hover {
      cursor: pointer;
      background-image: radial-gradient(circle farthest-corner at -2% 1.4%, #ff0f0f 0%, #e400e4 100.7%); }
    .navigation__video:active {
      background-image: radial-gradient(circle 404px at -8% -12.9%, rgba(171, 250, 36, 0.78) 19.7%, rgba(248, 10, 194, 0.8) 59.3%, rgba(0, 19, 250, 0.7) 95.6%); }
    .navigation__video:active .navigation__video--label > i {
      color: #ce2d4f;
      font-size: 2.1rem;
      transition: 0.5s; }
  .navigation__audio {
    text-align: center;
    overflow: hidden;
    position: fixed;
    z-index: 400;
    border-radius: 50%;
    background-image: radial-gradient(circle 919px at -3.2% 49.7%, rgba(211, 8, 160, 0.96) 0.1%, #14bde7 99.4%);
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 10rem;
    right: 6rem; }
    .navigation__audio--label i {
      display: inline-block;
      color: white;
      margin: 1.5rem;
      padding: 1rem;
      text-align: center;
      font-weight: bolder; }
    .navigation__audio:hover {
      cursor: pointer;
      background-image: radial-gradient(circle farthest-corner at -2% 1.4%, #ff0f0f 0%, #e400e4 100.7%); }
    .navigation__audio:active {
      background-image: radial-gradient(circle 404px at -8% -12.9%, rgba(171, 250, 36, 0.78) 19.7%, rgba(248, 10, 194, 0.8) 59.3%, rgba(0, 19, 250, 0.7) 95.6%);
      color: #010101; }
    .navigation__audio:active .navigation__audio--label > i {
      color: #ce2d4f;
      font-size: 2.1rem;
      transition: 0.5s; }
